body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #8ea0ac;
}

canvas {
    border: 1px solid #5a04e6;
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b30000;
}
